parameters:
    ignoreErrors:
        - '#Call to an undefined method object::__sleep\(\)\.#'
        - '#Method Ntzm\\Tests\\Serializer\\Fixture\\ClassWithSleepReturningNonArray::__sleep\(\) should return array<int, string> but returns null\.#'
